* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #40739e;
    color: rgb(235, 235, 235);
}

.nav-bar {
    display: flex;
    
}

.nav-bar div {
    margin-left: 100px;
    cursor: pointer;
    letter-spacing: 3px;
}

.logo {
    width: 30%;
    font-size: 1.2rem;
    letter-spacing: 3px;
    font-weight: bold;
}

.landing-info {
    text-align: center;
    font-size: 0.8rem;
    width: 70%;
}